.MovieCard {
	position: relative;
	transition: transform 0.3s;
}

.MovieCard:hover {
	transform: scale(1.03);
}

.hovered {
	.rating {
		position: absolute;
		left: 10px;
		top: 5px;
		background: var(--accent-green);
		color: white;
	}
}

.gray {
	.rating {
		background-color: gainsboro;
	}
}

.green {
	.rating {
		background: var(--accent-green);
	}
}

.red {
	.rating {
		background: var(--accent-red);
	}
}
