.MovieCard {
	position: relative;
	transition: transform 0.3s;
}

.MovieCard:hover {
	transform: scale(1.01);
}

.hovered {
	.rating {
		position: absolute;
		left: 10px;
		top: 5px;
		background: var(--accent-green);
		color: white;
	}
}
