.MovieCard {
	position: relative;
	transition: transform 0.3s;
	height: 300px;
	width: 200px;
}
.poster {
	width: 100%;
	height: 100%;
}

.MovieCard:hover {
	transform: scale(1.03);
}

.rating {
	position: absolute;
	left: 10px;
	top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
