.personCard {
	display: flex;
	flex-direction: column;
}

.container {
	width: 150px;
	height: 200px;
}
.personPhoto {
	width: 100%;
	transition: transform 0.3s;
	height: 100%;
	border-radius: 5px;
}

.personPhoto:hover {
	transform: scale(1.03);
}

.personName {
	width: 150px;
	overflow-x: hidden;
}
