.PersonByIdPage {
	display: flex;
	justify-content: center;
}

.mainCont {
	display: flex;
	flex-direction: column;
	width: 800px;
	align-items: center;
}

.photo {
	width: 200px;
	height: 300px;
	border-radius: 7px;
	margin-bottom: 15px;
}
