.container {
	display: flex;
	overflow: hidden;
	max-height: 100px;
	position: relative;
}

.poster {
	width: 40px;
	height: 56px;
	align-items: center;
}

.content {
	margin-left: 10px;
}

.title {
	width: 300px;
	height: 52px;
	overflow: hidden;
}

.rating {
	position: absolute;
	right: 10px;
	top: 15px;
}
