.container {
	display: flex;
	overflow: hidden;
	max-height: 100px;
}

.poster {
	width: 40px;
	height: 56px;
	align-items: center;
}

.content {
	margin-left: 10px;
	gap: 10px;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: center;
}

.watch {
	margin-left: auto;
	height: 26px;
	width: 86px;
	// padding: 5px;
	background: #f50;
}
