:root {
	--bg-color: #ffffff;
	--inverted-bg-color: #000227;
	--primary-color: #315efb;
	// --primary-color: #c94f26;
	--secondary-color: #262626;
	// --inverted-primary-color: #99ff9e;
	// --inverted-secondary-color: #00fe2c;
	--skeleton-color: #fff;
	--skeleton-shadow: #bbc2be;
	--code-bg: #fff;
	--card-bg: #eef2f4;
	--listbox-bg: #a9a3a3;
}
