.PersonByIdMovies {
	width: 100%;
}
.item {
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid var(--primary-color);
	display: flex;
}

.rating {
	margin-left: auto;
}

.btn {
	margin: 25px 0;
}
