.movieHeader {
	// margin: 10px;
	display: flex;
}

.movieImg {
	width: 200px;
	min-width: 180px;
	height: 300px;
	border-radius: 5px;
}

.info {
	margin: auto 20px;
}

.ratingBlock {
	display: flex;
	align-items: center;
	gap: 7px;
}

.ratingBlock > div {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.btnContainer {
	display: flex;
	gap: 15px;
	align-items: flex-end;
}

.description {
	margin-top: 10px;
}
