.movieHeader {
	margin: 10px;
	display: flex;
}

.movieImg {
	width: 180px;
	min-width: 180px;
	height: 252px;
	border-radius: 5px;
}

.info {
	// margin-left: 20px;
	margin: auto 20px;
}

.mainRating {
	display: flex;
	gap: 7px;
}

.mainRating > * {
	justify-content: center;
}

.ratingBlock {
	display: flex;
	align-items: center;
}

.ratingBlock > div {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.btnContainer {
	display: flex;
	gap: 15px;
	align-items: flex-end;
}
